@use '../../../styles/helpers/' as *;

.footer {
  padding: rem(36);
  background-color: #000037;
  border-radius: var(--border-radius);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: rem(10);
    padding-inline: 0;
  }

  &__content {
    @include fluid-text(14, 12);

    display: flex;
    align-items: center;
    column-gap: rem(28);
    color: #5A5A87;
  }
}