@use '../../../styles/helpers/' as *;

.pet-photos {
  display: grid;
  column-gap: rem(10);
  row-gap: rem(10);
  width: 100%;
  height: 100%;

  @include mobile {
    display: flex;
    overflow-x: auto;
  }

  &--2,
  &--3,
  &--4 {
    grid-template-columns: repeat(2, 1fr);
    align-self: center;

    img {
      width: 100%;
    }
  }

  &--3 {
    img:last-child {
      grid-column: 1 / -1;
    }
  }

  &__item {
    align-self: center;
    border-radius: var(--border-radius);
    object-fit: contain;

    &--small {
      width: rem(250);
      height: rem(178);
    }
  }
}