@use '../../../styles/helpers/' as *;

.header {
  background-color: var(--color-light);
  border-radius: var(--border-radius);

  &:not(:last-child) {
    margin-bottom: rem(10);
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: rem(10);
    padding: rem(11) rem(20);
  }

  &__actions {
    display: flex;
    align-items: center;
    column-gap: rem(10);
  }

  &__action {
    display: flex;
    align-items: center;
    column-gap: rem(10);
    cursor: pointer;

    @include tablet {
      padding: rem(13) rem(16);
      column-gap: rem(8);
    }
  }

  &__mobile-menu-anchor {
    position: relative;
    display: flex;

    @include tablet-above {
      display: none;
    }
  }

  @include tablet {
    margin: rem(20);
  }
}
