@use '../../../styles/helpers/' as *;

.procedure-card {
  @include light-background;

  border: 1px solid transparent;
  transition-property: border-color;
  transition-duration: var(--transition-duration);
  cursor: pointer;

  @include hover {
    border-color: var(--color-dark);
  }

  &:focus-visible {
    border-color: var(--color-dark);
    outline: rem(3) solid var(--color-blue-alt);
    outline-offset: rem(3);
  }

  &__header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: rem(16);
    row-gap: rem(12);
    padding-bottom: rem(24);

    @include mobile-s {
      display: grid;
      grid-template-columns: rem(20) minmax(0, 1fr);
      column-gap: rem(16);
      row-gap: rem(16);
      padding-bottom: rem(5);
    }

    &--rows {
      @include mobile-s {
        grid-template-columns: none;
      }
    }
  }

  &__notification-image {
    flex-shrink: 0;
  }

  &__datetime {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: rem(5) rem(12);
    color: var(--color-dark);
    white-space: nowrap;
    border: var(--border);
    border-radius: var(--border-radius-large);

    @include mobile-s {
      min-width: 0;
      padding: rem(4) rem(10);
    }
  }

  &__date {
    display: flex;
    align-items: center;
    column-gap: rem(8);
    padding-right: rem(8);
  }

  &__time {
    padding-left: rem(8);
    border-left: var(--border);
  }

  &__type {
    display: flex;
    align-items: center;
    column-gap: rem(16);

    &-inner {
      @include fluid-text(16, 12);

      padding: rem(5) rem(12);
      // width: 100%;
      text-align: center;
      color: var(--color-dark);
      background-color: var(--color-light-gray);
      border-radius: var(--border-radius-large);

      @include mobile-s {
        padding: 0;
        color: var(--color-gray);
        text-align: left;
        background-color: transparent;
      }
    }

    @include mobile-s {
      grid-column: 1 / -1;
    }
  }

  &__status {
    @include fluid-text(16, 12);

    padding: rem(5) rem(12);
    color: var(--color-dark);
    border: rem(1) solid transparent;
    border-radius: var(--border-radius-large);

    &--upcoming {
      color: var(--color-dark);
      background-color: var(--color-blue-alt);
      border-color: var(--color-blue);
    }

    &--indefinite {
      color: var(--color-dark-alt);
      background-color: var(--color-light-gray);
      border-color: var(--color-gray-alt);
    }

    &--completed {
      color: var(--color-green);
      background-color: rgba(17, 188, 126, 0.12);
      border-color: rgba(17, 188, 126, 0.35);
    }

    &--cancelled {
      color: var(--color-red);
      background-color: var(--color-light-red);
      border-color: var(--color-red-alt);
    }

    @include mobile-s {
      grid-column: 1 / -1;
      width: fit-content;
      padding: rem(4) rem(10);
    }
  }
}
