@use '../../styles/helpers/' as *;

.menu {
  @include tablet {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: rem(5);
    background-color: var(--color-light);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    box-shadow: 0 rem(-5) rem(30) 0 rgba(54, 24, 125, 0.2);
    z-index: 100;
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: rem(28);

    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: rem(5);
    }
  }

  &__item {
    justify-self: center;
    transition-duration: var(--transition-duration);
    
    @include hover {
      opacity: 0.7;
    }

    @include tablet {
      display: flex;
      justify-content: center;
      padding: rem(10) rem(16);
      width: 100%;
      height: 100%;
      background-color: var(--color-light-gray);
      border-radius: var(--border-radius-small-alt);
    }
  }
}
