@use '../../styles/helpers/' as *;

.logo {
  display: flex;
  align-items: center;
  column-gap: rem(8);
  min-width: rem(156);
  color: var(--color-dark);

  @include mobile {
    min-width: auto;
  }

  @include hover {
    opacity: 0.7;
  }

  &--light {
    color: var(--color-light);
  }

  &__text {
    color: currentColor;
  }
}
