@use '../../styles/helpers/' as *;

.privacy-policy-checkbox {
  display: flex;
  align-items: center;
  column-gap: rem(12);

  &__input {
    @include square(24);

    border: var(--border);
    border-radius: rem(5);
    cursor: pointer;

    @include hover {
      border-color: var(--color-dark);
    }

    &:checked {
      @include flex-center;

      background-color: var(--color-dark);
      border-color: var(--color-dark);

      &::after {
        content: '';
        margin-bottom: rem(2);
        width: rem(6);
        height: rem(12);
        border: solid var(--color-light);
        border-width: 0 rem(2) rem(2) 0;
        transform: rotate(45deg);
      }
    }
  }

  &__text {
    & a {
      color: var(--color-dark);
    }
  }
}