@use '../../../styles/helpers/' as *;

.event-section {
  display: flex;
  flex-direction: column;
  row-gap: rem(36);

  &__body {
    @include light-background;

    @include tablet-above {
      padding-right: rem(300);
    }
  }

  &__input {
    & textarea {
      resize: none;
    }
  }

  &__options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-dark);

    @include mobile-s {
      flex-direction: column;
      align-items: start;
      row-gap: rem(10);
    }

    &:not(:first-child) {
      padding-top: rem(28);
    }

    &-list {
      display: flex;
      align-items: center;
      column-gap: rem(10);
    }

    &-item {
      padding: rem(8) rem(16);
      color: inherit;
      border: var(--border);
      border-radius: var(--border-radius-large);

      @include hover {
        opacity: 0.7;
      }

      &--active {
        color: var(--color-light);
        background-color: var(--color-blue);
        border-color: var(--color-blue);
      }
    }
  }
}