@use '../../styles/helpers/' as *;

.pets {
  position: relative;
  height: 100dvh;

  &__header {
    display: flex;
    align-items: center;
    column-gap: rem(28);
    padding: rem(19) rem(28);
    background-color: var(--color-light);
    border-radius: var(--border-radius);

    &-separator {
      width: rem(1);
      height: rem(24);
      background-color: var(--color-gray-alt);
      border-radius: rem(1);
    }

    &-actions {
      display: flex;
      align-items: center;
      column-gap: rem(10);
    }

    @include mobile {
      justify-content: space-between;
      padding: rem(12) rem(16);
    }
  }

  &__body {
    @include abs-center;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(50);
    padding-inline: var(--container-padding-x);
    max-width: rem(806);
    width: 100%;

    @include mobile {
      row-gap: rem(32);
    }
  }

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(32);
    padding: rem(50);
    max-width: rem(806);
    width: 100%;
    background-color: var(--color-light);
    border-radius: var(--border-radius);

    &-image {
      @include square(100);

      position: relative;
      padding: rem(18) rem(18) rem(17) rem(17);
      color: var(--color-gray-alt);
      background-color: var(--color-light-gray);
      border-radius: var(--border-radius);

      & svg {
        &:first-child {
          width: 100%;
          height: 100%;
        }
      }

      &-cross {
        @include square(32);
        @include flex-center;

        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(20%, 20%);
        padding: rem(9);
        color: var(--color-light);
        background-color: var(--color-gray);
        border-radius: 50%;
      }
    }

    &-info {
      text-align: center;
    }

    &-title {
      @include fluid-text(36, 20);
    }

    &-description {
      @include fluid-text(18, 12);

      color: var(--color-dark-alt);

      &:not(:first-child) {
        margin-top: rem(16);
      }
    }

    &-add-button {
      max-width: rem(300);
      width: 100%;
    }

    @include mobile {
      padding: rem(24) rem(20);
    }
  }

  &__title {
    @include fluid-text(56, 32);

    margin-top: rem(110);

    @include mobile {
      align-self: start;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: rem(10);
    width: 100%;
    max-height: rem(470);
    list-style: none;
    overflow: auto;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: rem(16);
    padding: rem(20);
    width: 100%;
    background-color: var(--color-light);
    border-radius: var(--border-radius);
    cursor: pointer;

    @include hover {
      opacity: 0.8;
    }

    &--disabled {
      cursor: wait;
      opacity: 0.6;
    }

    &-image {
      @include square(70);

      padding: rem(15);
      color: var(--color-gray-alt);
      background-color: var(--color-light-gray);
      border-radius: var(--border-radius-small-alt);
    }

    &-info {
      color: var(--color-dark);
    }

    &-name {
      @include fluid-text(18, 16);

      font-weight: 700;
    }

    &-breed {
      &:not(:first-child) {
        margin-top: rem(5);
      }
    }

    &-delete-button {
      @include square(24);
      @include flex-center;

      position: absolute;
      top: 50%;
      right: rem(10);
      padding: rem(5);
      color: var(--color-light);
      background-color: var(--color-red);
      border-radius: 50%;
      transform: translateY(-50%);

      @include hover {
        opacity: 0.7;
      }

      &:disabled {
        cursor: wait;
        opacity: 0.7;
      }
    }

    @include mobile {
      padding: rem(5);
    }
  }

  &__add-button {
    width: 100%;

    &--mobile {
      @include square(48);
      @include flex-center;

      position: fixed;
      bottom: rem(20);
      right: rem(20);
      padding: rem(10);
      color: var(--color-light);
      background-color: var(--color-dark);
      border-radius: 50%;

      & svg {
        rotate: 45deg;
      }
    }
  }
}
