.procedure-card {
  width: 100%;
  height: 139px;
  background: var(--white);
  border-radius: 20px;
  box-sizing: border-box;

  padding: 28px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
}

/* Левая сторона */
.procedure-card__left {
  display: flex;
  flex-direction: column;
}

/* Верхняя строка: колокольчик + теги */
.procedure-card__top {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.procedure-card__bell {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

/* Контейнер с двумя тегами */
.procedure-card__meta {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

/* Общий стиль тегов */
.procedure-card__pill {
  display: inline-flex;
  align-items: center;
  column-gap: 8px;

  padding: 5px 12px;
  border-radius: 999px;
}

/* Тег даты */
.procedure-card__pill--datetime {
  border: 1px solid var(--divider);
  background: transparent;
}

/* Тег типа*/
.procedure-card__pill--type {
  background: var(--grey);
  border: none;
}

.procedure-card__meta-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.procedure-card__date-text,
.procedure-card__time-text,
.procedure-card__type {
  color: var(--black);
}

.procedure-card__separator {
  width: 1px;
  height: 12px;
  border-radius: 999px;
  background: var(--divider);
}

/* Название процедуры */
.procedure-card__title {
  margin-top: 24px;

  max-width: 835px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: var(--black);
}

/* Кнопка "Перенести процедуру" */
.procedure-card__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding: 15px 28px;
  height: 50px;
  column-gap: 10px;
}

.procedure-card__button span {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-h4);
  line-height: var(--lh-auto);
  letter-spacing: var(--ls-tight);
}

.procedure-card__button-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}