@use './helpers/' as *;

:root {
  --color-light: #FFFFFF;

  --color-dark: #36187D;
  --color-dark-alt: #5A5A87;

  --color-gray: #8B90A6;
  --color-light-gray: #F2F3F7;
  --color-gray-alt: #D4D5D9;

  --color-blue: #34B9FC;
  --color-blue-alt: #D9ECF6;
  
  --color-green: #11BC7E;

  --color-red: #D32F2F;
  --color-light-red: #FFEEEE;
  --color-red-alt: #FFCCCC;

  --border: #{rem(1)} solid var(--color-gray-alt);
  --border-radius: #{rem(20)};
  --border-radius-small: #{rem(12)};
  --border-radius-large: #{rem(100)};

  --font-family-base: "Montserrat", system-ui, sans-serif;

  --container-width: #{rem(1214)};
  --container-padding-x: #{rem(20)};

  --section-padding-y: #{rem(45)};

  --input-height: #{rem(50)};
  --button-height: #{rem(50)};
  --tag-height: #{rem(30)};

  --transition-duration: 0.2s;

  @include mobile {
    --section-padding-y: #{rem(25)};
  }
}